---
layout: docs
title: Accessibility
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /docs/accessibility.html
root: '../'
---
<h1>Accessibility</h1>
<p class="lead">Focus theme is built with accessibility in mind.</p>

<ul class="mb-4">
  <li class="mb-1"><strong>ARIA:</strong>
    <ul>
      <li>Non-interactive elements, such as decorative icons, have an aria-hidden attribute.</li>
      <li>Interactive controls have appropriate ARIA roles.</li>
      <li>ARIA IDs are unique.</li>
    </ul>
  <li class="mb-1"><strong>Color contrast:</strong> contrast ratio between text and background is within the AA level (4.5:1).</li>
  <li class="mb-1"><strong>Links:</strong> links inside paragraphs are underlined by default.</li>
  <li class="mb-1"><strong>Headings structure:</strong> headings do not skip levels when descending.</li>
  <li class="mb-1"><strong>Images:</strong> all images have <code>alt</code> attributes.</li>
  <li class="mb-1"><strong>Forms: </strong> Forms have field labels associated with the form controls (in some cases visually hidden).</li>
  <li class="mb-1">
    <strong>Keyboard navigation:</strong>
    <ul>
      <li>Pages include a "Skip to main content" link at the beginning.</li>
      <li>Interactive controls are keyboard focusable.</li>
      <li>Pages have a logical tab order.</li>
    </ul>
  </li>
  <li class="mb-1"><strong>Landmarks: </strong>HTML5 landmark elements are used to improve navigation (<code>&lt;nav&gt;</code>, <code>&lt;main&gt;</code>...)</li>
  <li class="mb-1"><strong>Language:</strong> <code>&lt;html&gt;</code> element has a <code>&lt;lang&gt;</code> attribute.</li>
  <li class="mb-1"><strong>Valid W3C code: </strong> The code is fully compliant with the standards set by the World Wide Web Consortium.</li>
</ul>
