---
layout: docs
title: Avatars
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /docs/avatars.html
root: '../'
---
<h1>Avatars</h1>
<p class="lead">Create an avatar of different sizes.</p>

<div class="mb-4">
  <img src="../assets/img/tim-schoch.jpg" class="avatar avatar-sm me-3" alt="Tim Schoch">
  <img src="../assets/img/tim-schoch.jpg" class="avatar avatar-md me-3" alt="Tim Schoch">
  <img src="../assets/img/tim-schoch.jpg" class="avatar avatar-lg" alt="Tim Schoch">
</div>

<p>To get a rounded avatar add <code>.avatar</code> and then choose between three different sizes: <code>.avatar-sm</code>, <code>.avatar-md</code> and <code>.avatar-lg</code>.</p>

{% highlight "html" %}
<img src="assets/img/tim.jpg" class="avatar avatar-sm" alt="Tim Schoch">
<img src="assets/img/tim.jpg" class="avatar avatar-md" alt="Tim Schoch">
<img src="assets/img/tim.jpg" class="avatar avatar-lg" alt="Tim Schoch">
{% endhighlight %}
