---
layout: docs
title: Buttons
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /docs/buttons.html
root: '../'
---
<h1>Buttons</h1>
<p class="lead">Use Bootstrap’s custom button styles for actions in forms, dialogs, and more with support for multiple sizes and states.</p>

<div class="mb-4">
  <button type="button" class="btn btn-primary me-1 mb-3">Primary</button>
  <button type="button" class="btn btn-secondary me-1 mb-3">Secondary</button>
  <button type="button" class="btn btn-success me-1 mb-3">Success</button>
  <button type="button" class="btn btn-danger me-1 mb-3">Danger</button>
  <button type="button" class="btn btn-warning me-1 mb-3">Warning</button>
  <button type="button" class="btn btn-info me-1 mb-3">Info</button>
  <button type="button" class="btn btn-light me-1 mb-3">Light</button>
  <button type="button" class="btn btn-dark me-1 mb-3">Dark</button>
</div>

{% highlight "html" %}
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
...
{% endhighlight %}

<h2>Button tags</h2>
<p>The <code>.btn</code> classes are designed to be used with the <code>&lt;button&gt;</code> element. However, you can also use these classes on <code>&lt;a&gt;</code> or <code>&lt;input&gt;</code> elements.</p>

<div class="mb-4">
  <a class="btn btn-primary me-1 mb-3" href="#">Link</a>
  <input class="btn btn-primary me-1 mb-3" type="submit" value="Submit">
</div>

{% highlight "html" %}
<a class="btn btn-primary" href="#">Link</a>
<input class="btn btn-primary" type="submit" value="Submit">
{% endhighlight %}

<h2>Outline buttons</h2>
<p>Replace the default modifier classes with the <code>.btn-outline-*</code> ones to remove all background images and colors on any button.</p>

<div class="mb-4">
  <button type="button" class="btn btn-outline-primary me-1 mb-3">Primary</button>
  <button type="button" class="btn btn-outline-light me-1 mb-3">Light</button>
</div>

{% highlight "html" %}
<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-light">Light</button>
{% endhighlight %}

<h2>Sizes</h2>
<p>Fancy larger or smaller buttons? Add <code>.btn-lg</code> or <code>.btn-sm</code> for additional sizes.</p>

<button type="button" class="btn btn-primary btn-lg me-1 mb-3">Large button</button>
<button type="button" class="btn btn-primary btn-sm mb-3">Small button</button>

{% highlight "html" %}
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-primary btn-sm">Small button</button>
{% endhighlight %}

<p>
  <a href="https://getbootstrap.com/docs/5.2/components/buttons/" target="_blank" rel="noopener">Bootstrap Documentation <i class="material-icons align-middle" aria-hidden="true">launch</i></a>
</p>
