---
layout: docs
title: Development
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /docs/development.html
root: '../'
---
<h1>Development</h1>
<p class="lead">Learn how to customize this theme using the tools included.</p>

<p>To set up the theme, you need:</p>

<ul class="mb-4">
  <li>A command-line tool.</li>
  <li><a href="https://nodejs.org/en/" class="link-underline" target="_blank" rel="noopener">Node.js</a> (includes npm).</li>
</ul>

<p>Open your terminal, ensure you are in the same directory of the unzipped theme, and run the following command to install all dependencies:</p>

{% highlight "html" %}
npm i
{% endhighlight %}

<p>In the terminal, run the following command:</p>

{% highlight "html" %}
npm start
{% endhighlight %}

<p>It compiles the source files, generates the site, starts a local server at <code>localhost:8080</code>, and opens the browser automatically.</p>

<h2>Front matter</h2>

<p>The theme uses <a href="https://www.11ty.dev/" target="_blank" rel="noopener">Eleventy</a> static site generator.</p>

<p>You can add metadata in your page templates:</p>

{% highlight "html" %}
---
layout: base
title: Home
description: Focus is a clean portfolio theme for Bootstrap.
navbarColor: light
permalink: /
---
{% endhighlight %}

  <ul class="mb-4">
    <li><code>layout:</code> the template used to wrap the content.</li>
    <li><code>title:</code> page title.</li>
    <li><code>description:</code> page meta description.</li>
    <li><code>navbarColor:</code> dark/light (optional, default is "dark").</li>
    <li><code>permalink:</code> allows remapping your template's URI.</li>
  </ul>

  <h2>Images</h2>
  <p>Eleventy only copies the images from the src folder to the dist folder. To get faster load times, use the right image size and compress them using an app like <a href="https://squoosh.app/" target="_blank" rel="noopener">Squoosh</a> (Web app) or <a href="https://imageoptim.com/mac" target="_blank" rel="noopener">ImageOptim</a> (Mac app).</p>

  <h2>Production</h2>
  <p>Once your site is ready to publish, run the following command:</p>

  {% highlight "html" %}
  npm run build
  {% endhighlight %}

  <p>It generates the site from scratch and removes unused CSS.</p>
