---
layout: docs
title: Icons
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /docs/icons.html
root: '../'
---
<h1>Icons</h1>
<p class="lead">Focus uses Material Icons, a collection of beautifully crafted symbols for common actions and items.</p>

<p>You can change the icon size using <code>.icon-{size}</code></p>

<div class="mb-4">
  <i class="material-icons">photo_camera</i>
  <i class="material-icons icon-lg">photo_camera</i>
  <i class="material-icons icon-2x">photo_camera</i>
  <i class="material-icons icon-3x">photo_camera</i>
  <i class="material-icons icon-5x">photo_camera</i>
</div>

{% highlight "html" %}
<i class="material-icons">photo_camera</i>
<i class="material-icons icon-lg">photo_camera</i>
<i class="material-icons icon-2x">photo_camera</i>
<i class="material-icons icon-3x">photo_camera</i>
<i class="material-icons icon-5x">photo_camera</i>
{% endhighlight %}

<p>
  <a href="https://fonts.google.com/icons?selected=Material+Icons" target="_blank" rel="noopener">See all available icons <i class="material-icons align-middle" aria-hidden="true">launch</i></a>
</p>
