---
layout: docs
title: Images
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /docs/images.html
root: '../'
---
<h1>Images</h1>
<p class="lead">Styles for image thumbnails and hover effects.</p>

<h2>Thumbnail</h2>
<div class="mb-4">
  <img src="../assets/img/club-workspace.jpg" alt="" class="img-thumbnail">
</div>

{% highlight "html" %}
<img src="assets/img/club-workspace.jpg" alt="" class="img-thumbnail">
{% endhighlight %}

<h2>Color</h2>
<p>Add <code>.img-color</code> to colorize an image on hover.</p>
<figure class="img-color">
  <img src="../assets/img/club-workspace.jpg" alt="" class="img-fluid">
</figure>

{% highlight "html" %}
<figure class="img-color">
  <img src="assets/img/club-workspace.jpg" alt="" class="img-fluid">
</figure>
{% endhighlight %}

<h2>Overlay</h2>
<p>Add <code>.img-overlay</code> and <code>.img-hover</code> to create an overlay effect on hover.</p>
<figure class="img-overlay">
  <img src="../assets/img/modern-room.jpg" alt="" class="img-fluid">
  <div class="img-hover">
    <div class="img-text">View Project</div>
  </div>
</figure>

{% highlight "html" %}
<figure class="img-overlay">
  <img src="assets/img/modern-room.jpg" alt="" class="img-fluid">
  <div class="img-hover">
    <div class="img-text">View Project</div>
  </div>
</figure>
{% endhighlight %}

<h2>Rising</h2>
<p>Add <code>.img-rising</code> to create a rising hover effect.</p>
<figure class="img-rising">
  <img src="../assets/img/sofa-cat.jpg" alt="" class="img-fluid">
</figure>

{% highlight "html" %}
<figure class="img-rising">
  <img src="assets/img/sofa-cat.jpg" alt="" class="img-fluid">
</figure>
{% endhighlight %}

<h2>Scale</h2>
<p>Add <code>.img-scale</code> and <code>.img-wrap</code> to scale an image on hover.</p>
<figure class="img-scale">
  <div class="img-wrap">
    <img src="../assets/img/modern-kitchen.jpg" alt="" class="img-fluid">
  </div>
</figure>

{% highlight "html" %}
<figure class="img-scale">
  <div class="img-wrap">
    <img src="assets/img/modern-kitchen.jpg" alt="" class="img-fluid">
  </div>
</figure>
{% endhighlight %}

<p>
  <a href="https://getbootstrap.com/docs/5.2/content/images/" target="_blank" rel="noopener">Bootstrap Documentation <i class="material-icons align-middle" aria-hidden="true">launch</i></a>
</p>
