---
layout: docs
title: Introduction
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /docs/intro.html
root: '../'
---
<h1>Introduction</h1>
<p class="lead">Get started with Focus.</p>

<p>Focus is a clean and accessible portfolio theme for Bootstrap.</p>

<h2>Files structure</h2>

<p>Once you unzip the theme folder, you'll see the following file structure:</p>

<ul class="mb-4">
  <li><code>dist</code> - production files
    <ul>
      <li><code>assets</code> - css, images, js</li>
      <li><code>docs</code> - documentation files</li>
      <li><code>*.html</code> - html files</li>
    </ul>
  </li>
  <li><code>src</code> - source files
    <ul>
      <li><code>assets</code> - css, images, js</li>
      <li><code>includes</code> - includes and layouts</li>
      <li><code>pages</code> - page templates (nunjucks)</li>
    </ul>
  </li>
  <li><code>.eleventy.js</code> - Eleventy config</li>
  <li><code>package.json</code> - NPM dependencies</li>
  <li><code>purgecss.config.js</code> - PurgeCSS config</li>
</ul>

<p>The <code>dist</code> folder contains the files you would upload to your web server to publish the site.</p>

<p>Learn more about how to <a href="customization.html">customize</a> your theme.</p>
