---
layout: docs
title: Updating
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /docs/updating.html
root: '../'
---
<h1>Updating</h1>
<p class="lead">Learn how to update your theme.</p>

<p>When the theme is updated, the Bootstrap Themes platform will send you a message with a link to download the latest version.</p>

<p>First, review the <a href="changelog.html">changelog</a> to see any HTML or CSS changes you need to consider.</p>

<p>Depending on your customization method, there are two ways to update:</p>

<ul>
  <li><strong>Updating compiled files</strong>
    <p>To update the compiled files, replace the old CSS and JS files with the newer versions. All these files are in the <strong>dist/assets</strong> folder of the theme.</p>
  </li>
  <li><strong>Updating source files</strong>
    <p>If you are working with the SCSS files, you should replace all the files in <strong>src/assets/css</strong> (excepting <code>_user-vars.scss</code> and <code>_users.scss</code> that contain your changes) and then compile the theme using the build tools.</p>
    <p>Notice that if you use the build tools included with the theme, <strong>JS</strong> files are included automatically in the <strong>dist</strong> folder. If you use your tools, remember to update those files too.</p>
  </li>
</ul>

<p>If you're struggling with an update, don't hesitate to contact the theme's support.</p>
