// // Place your own CSS or SCSS below this line.

:root {
  --gray-100: #f2f1f1;
  --bs-dark: #08403d;
  --bs-primary-rgb: 252, 250, 249;
  --bs-dark-rgb: 8, 64, 61;
  --bs-body-color-rgb: 252, 249, 247;
  --bs-body-bg-rgb: 8, 64, 61;
  --bs-font-sans-serif: "Montserrat", sans-serif;
  --bs-body-font-family: Montserrat, sans-serif;
  --bs-body-color: #fcf9f7;
  --bs-body-bg: #08403d;
  --bs-border-color: #08403d;
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: .05em;

}

.display-1 {
  font-size: calc(1.675rem + 4.1vw);
  font-weight: 400;
  line-height: 1.15;
}
.light {
  font-weight: 100;}
.fw-normal {
  font-weight: 200 !important;
}
.btn-primary {
  --bs-btn-color: #fcf8f7;
  --bs-btn-bg: #b08553;
  --bs-btn-border-color: #b08553;
  --bs-btn-hover-color: #fcf8f7;
  --bs-btn-hover-bg: #cc9d67;
  --bs-btn-hover-border-color: #cc9d67;
  --bs-btn-active-color: #fcf8f7;
  --bs-btn-active-bg: #b08553;
  --bs-btn-active-border-color: #b08553;
  --bs-btn-disabled-bg: #b08553;
  --bs-btn-disabled-border-color: #b08553;
}
.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #08403d;
  --bs-btn-border-color: ##08403d;
  --bs-btn-disabled-bg: ##08403d;
  --bs-btn-disabled-border-color: #08403d;
}
  
.btn-outline-dark {
  --bs-btn-color: #08403d;
  --bs-btn-border-color: #08403d;
  --bs-btn-hover-bg: #08403d;
  --bs-btn-hover-border-color: #08403d;
  --bs-btn-active-bg: #08403d;
  --bs-btn-active-border-color: #08403d;
  --bs-btn-disabled-color: #08403d;
  --bs-btn-disabled-border-color: #08403d;
}
.dropdown-menu {
  --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(8, 64, 61, 0.15);
}
.feature {
  background-color: #08403d;
}
.navbar {
  --bs-navbar-color: #08403d;
  --bs-navbar-hover-color: #08403d;
  --bs-navbar-brand-padding-y: 0.6rem;

}

.navbar-dark {
  --bs-navbar-color: #fcf9f7;
  --bs-navbar-hover-color: #b08553;
  --bs-navbar-active-color: #b08553;
  --bs-navbar-brand-color: #b08553;
  --bs-navbar-brand-hover-color: #b08553;
}
.accordion {
  --bs-accordion-border-color: #08403d;
  --bs-accordion-active-bg: #08403d;
}
.tooltip {
  font-family: "Montserrat", sans-serif;
}
.popover {
  font-family: "Montserrat", sans-serif;
}
.link-dark {
  color: #08403d !important;
}
.font-serif {
  font-family: "Montserrat", serif;
}
.font-sans {
  font-family: "Montserrat", sans-serif;
}
[class^="display"] {
  font-family: "Montserrat", sans-serif;
}
.navbar.navbar-dark {
  background-color: #08403d;
  border-bottom: 1px solid #073936;
}
.navbar.navbar-dark .nav-item + .nav-item {
  border-color: #08403d;
}
.navbar .navbar-brand img {
  max-height: 55px;
}
.material-icons {
  color: #17504d;
}
