---
layout: base
title: About
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /about.html
---
  <!-- Header -->
  <div class="container py-5 py-md-6">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="display-3">About us</h1>
        <div class="border border-2 border-light w-15 my-4"></div>
        <p class="lead text-light mb-4">We love to learn, collaborate and create.</p>
      </div>
    </div>
  </div>

  <div class="bg-white text-black">
    <div class="container py-3">
      <div class="bg-white mt-n5 mt-lg-n6 px-3 px-lg-0">
        <div class="row justify-content-center py-4 py-md-5">
          <div class="col-md-10 col-lg-8">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <img src="assets/img/passion.jpg" class="img-fluid mt-3 mb-2" alt="Two man and woman sitting on chair in front of glass widowpane" width="840" height="560">
            <h2 class="mt-4">Our story</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <a href="mailto:hello@example.com">hello@example.com.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to action -->
  <div class="bg-primary text-dark text-center">
    <div class="container py-5 py-md-6">
      <h2>Newsletter subscription</h2>
      <p class="fw-light mb-4">Subscribe to our newsletter to receive news & updates</p>
      <form>
        <div class="row justify-content-center align-items-center g-2">
          <div class="col-md-4 col-xl-3">
            <label for="name" class="visually-hidden">First name</label>
            <input type="text" class="form-control border-white fst-italic" id="name" placeholder="First name">
          </div>
          <div class="col-md-4 col-xl-3">
            <label for="email" class="visually-hidden">Email address</label>
            <input type="email" class="form-control border-white fst-italic" id="email" placeholder="Email address">
          </div>
          <div class="col-md-auto">
            <button type="submit" class="btn btn-dark w-100">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
