---
layout: base
title: Blog
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /blog.html
---
  <!-- Header -->
  <div class="container py-5 py-md-6">
    <h1 class="display-3">Blog</h1>
    <div class="col-lg-8">
      <p class="lead font-serif text-light mb-6">This is what we are thinking about...</p>
    </div>
  </div>

  <!-- Articles -->
  <div class="bg-white text-black pb-5 pb-md-6">
    <div class="container py-2">
      <div class="row mt-n6">
        <div class="col-md-6">
          <div class="card border-0 img-rising mb-4 mb-lg-5">
            <img src="assets/img/pencils.jpg" class="card-img-top img-fluid" alt="Why clean design creates better experiences" width="640" height="400">
            <div class="card-body px-0">
              <div class="text-muted text-uppercase mb-2">Design</div>
              <h2 class="card-title h3">
                <a href="article.html" class="stretched-link">Why clean design creates better experiences</a>
              </h2>
              <div class="small text-muted mb-3">5 days ago | 5 min read</div>
              <p class="card-text">This is a sample intro paragraph and can be used to introduce readers to your article. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card border-0 img-rising mb-4 mb-lg-5">
            <img src="assets/img/origami.jpg" class="card-img-top img-fluid" alt="How to make origami for beginners" width="640" height="400">
            <div class="card-body px-0">
              <div class="text-muted text-uppercase mb-2">Origami</div>
              <h2 class="card-title h3">
                <a href="article.html" class="stretched-link">How to make origami for beginners</a>
              </h2>
              <div class="small text-muted mb-3">7 days ago | 8 min read</div>
              <p class="card-text">This is a sample intro paragraph and can be used to introduce readers to your article. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card border-0 img-rising mb-4 mb-lg-5">
            <img src="assets/img/camera.jpg" class="card-img-top img-fluid" alt="How to take better photos with your Canon DSLR" width="640" height="400">
            <div class="card-body px-0">
              <div class="text-muted text-uppercase mb-2">Photography</div>
              <h2 class="card-title h3">
                <a href="article.html" class="stretched-link">How to take better photos with your Canon DSLR</a>
              </h2>
              <div class="small text-muted mb-3">9 days ago | 6 min read</div>
              <p class="card-text">This is a sample intro paragraph and can be used to introduce readers to your article. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card border-0 img-rising mb-4 mb-lg-5">
            <img src="assets/img/building.jpg" class="card-img-top img-fluid" alt="The world's 11 greatest modern buildings" width="640" height="400">
            <div class="card-body px-0">
              <div class="text-muted text-uppercase mb-2">Architecture</div>
              <h2 class="card-title h3">
                <a href="article.html" class="stretched-link">The world's 11 greatest modern buildings</a>
              </h2>
              <div class="small text-muted mb-3">5 days ago | 5 min read</div>
              <p class="card-text">This is a sample intro paragraph and can be used to introduce readers to your article. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <nav aria-label="Page">
        <ul class="pagination justify-content-center mb-0">
          <li class="page-item mx-1 disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
          <li class="page-item mx-1 active"><a class="page-link" href="#">1</a></li>
          <li class="page-item mx-1"><a class="page-link" href="#">2</a></li>
          <li class="page-item mx-1"><a class="page-link" href="#">3</a></li>
          <li class="page-item mx-1"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
