--- 
layout: base 
title: Home 
description: Inspired by Nature
permalink: /index.html 
---

<!-- Header -->
<div
  class="bg-image"
  style="background-image: url(assets/img/forgetmenot-2.JPG); min-height: 88vh;">
  <div class="container py-6">
    <div class="col-xxl-10">
      <h1 class="display-1">Designing Outdoor Spaces for Inspired Living</h1>
      <div class="border border-6 border-light w-25 my-4"></div>
    </div>
    <div class="col-lg-10 col-xxl-8">
      <p class="font-serif lead mb-4 text-light">
        Niche Landscapes is focused on designing, building and maintaining
        nature-informed spaces.
      </p>
      <a href="contact.html" class="btn btn-primary">Contact us</a>
    </div>
  </div>
</div>

<!-- Features -->
<div class="container">
  <div class="row text-center py-5 feature">
    <div class="col-md-4">
      <span
        class="material-symbols-outlined material-icons icon-3x mb-3"
        aria-hidden="true"
        >design_services</span
      >
      <h3 class="fw-normal mb-3">Beautifully Designed</h3>
      <p class="mb-0 light">
        Our designs prioritize aesthetics as well as function, creating visually
        stunning landscapes that enhance a sense of place.
      </p>
    </div>
    <div class="col-md-4">
      <span class="material-symbols-outlined material-icons icon-3x mb-3">
        emoji_nature
      </span>
      <h3 class="fw-normal mb-3">Ecological Benefits</h3>
      <p class="mb-0 light">
        We aim to enhance and preserve biodiversity in all of our landscape
        designs, promoting healthy ecosystems that support a wide range of plant
        and animal life.
      </p>
    </div>
    <div class="col-md-4">
      <span class="material-symbols-outlined material-icons icon-3x mb-3">
        eco</span
      >
      <h3 class="fw-normal mb-3">Sustainable Design</h3>
      <p class="mb-0 light">
        Our landscapes are designed with a focus on environmental
        sustainability, using eco-friendly materials and techniques to minimize
        the impact on the environment.
      </p>
    </div>
  </div>
</div>

<!-- Call to action -->
<div class="bg-primary text-dark text-center">
  <div class="container py-5 py-md-6">
    <h2 class="font-sans">Get your landscape transformation started.</h2>
    <p class="lead mb-4">Book your free consultation today!</p>
    <a href="contact.html" class="btn btn-outline-dark">Book now</a>
  </div>
</div>
