--- 
layout: base 
title: Pages 
description: Focus is a clean portfolio theme for Bootstrap. 
permalink: /pages.html
---
<!-- Header -->
<div class="container py-5">
  <div class="col-lg-8">
    <h1 class="display-4">Pages</h1>
    <div class="border border-3 border-light w-15 my-4"></div>
    <p class="lead text-light">
      A set of pages made to start your portfolio quickly.
    </p>
  </div>
</div>

<!-- Projects -->
<div class="container pb-5">
  <h2 class="mb-4">Landing</h2>
  <ul class="row list-unstyled gy-3 mb-4">
    <li class="col-md-6">
      <a href="portfolio-1.html" class="d-inline-block">
        <figure>
          <div class="img-overlay">
            <img
              src="assets/img/portfolio-1.jpg"
              alt="Architecture"
              class="img-thumbnail"
              width="800"
              height="550"
            />
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6">
      <a href="portfolio-2.html" class="d-inline-block">
        <figure>
          <div class="img-overlay">
            <img
              src="assets/img/portfolio-2.jpg"
              alt="Interior Design"
              class="img-thumbnail"
              width="800"
              height="550"
            />
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6">
      <a href="portfolio-3.html" class="d-inline-block">
        <figure>
          <div class="img-overlay">
            <img
              src="assets/img/portfolio-3.jpg"
              alt="Photography"
              class="img-thumbnail"
              width="800"
              height="550"
            />
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6">
      <a href="portfolio-4.html" class="d-inline-block">
        <figure>
          <div class="img-overlay">
            <img
              src="assets/img/portfolio-4.jpg"
              alt="Web Design"
              class="img-thumbnail"
              width="800"
              height="550"
            />
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
  </ul>

  <h2 class="mb-4">Project</h2>
  <ul class="row list-unstyled gy-3 mb-4">
    <li class="col-md-6">
      <a href="project-1.html" class="d-inline-block">
        <figure>
          <div class="img-overlay">
            <img
              src="assets/img/project-1.jpg"
              loading="lazy"
              alt="Architecture project"
              class="img-thumbnail"
              width="800"
              height="550"
            />
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6">
      <a href="project-2.html" class="d-inline-block">
        <figure>
          <div class="img-overlay">
            <img
              src="assets/img/project-2.jpg"
              loading="lazy"
              alt="Interior Design project"
              class="img-thumbnail"
              width="800"
              height="550"
            />
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6">
      <a href="project-3.html" class="d-inline-block">
        <figure>
          <div class="img-overlay">
            <img
              src="assets/img/project-3.jpg"
              loading="lazy"
              alt="Photography project"
              class="img-thumbnail"
              width="800"
              height="550"
            />
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6">
      <a href="project-4.html" class="d-inline-block">
        <figure>
          <div class="img-overlay">
            <img
              src="assets/img/project-4.jpg"
              loading="lazy"
              alt="Web Design project"
              class="img-thumbnail"
              width="800"
              height="550"
            />
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
  </ul>

  <h2 class="mb-4">Secondary</h2>
  <ul class="row list-unstyled mb-4">
    <li class="col-md-6">
      <a href="blog.html" class="d-inline-block">
        <figure>
          <div class="img-overlay">
            <img
              src="assets/img/blog.jpg"
              loading="lazy"
              alt="Blog"
              class="img-thumbnail"
              width="800"
              height="550"
            />
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6">
      <a href="article.html" class="d-inline-block">
        <figure>
          <div class="img-overlay">
            <img
              src="assets/img/article.jpg"
              loading="lazy"
              alt="Article"
              class="img-thumbnail"
              width="800"
              height="550"
            />
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6">
      <a href="contact.html" class="d-inline-block">
        <figure>
          <div class="img-overlay">
            <img
              src="assets/img/contact.png"
              loading="lazy"
              alt="Contact"
              class="img-thumbnail"
              width="800"
              height="550"
            />
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
    <li class="col-md-6">
      <a href="about.html" class="d-inline-block">
        <figure>
          <div class="img-overlay">
            <img
              src="assets/img/about.jpg"
              loading="lazy"
              alt="About us"
              class="img-thumbnail"
              width="800"
              height="550"
            />
            <div class="img-hover">
              <div class="img-text">View Page</div>
            </div>
          </div>
        </figure>
      </a>
    </li>
  </ul>
</div>

<!-- Call to action -->
<div class="bg-primary text-dark text-center">
  <div class="container py-5 py-md-6">
    <h2 class="font-sans">Focus is mobile-ready, flexible and cross-browser</h2>
    <p class="lead mb-4">
      Impress your audiences with memorable pages that showcase your works
    </p>
    <a
      href="https://themes.getbootstrap.com/product/focus/"
      class="btn btn-outline-dark"
      >Buy now</a
    >
  </div>
</div>
