---
layout: base
title: Architecture
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /portfolio-1.html
---
  <!-- Header -->
  <div class="container py-5 py-lg-6 mb-6">
    <h1 class="display-3 mb-4">Architecture</h1>
    <div class="col-lg-8">
      <p class="lead font-serif text-light">We collaborate with clients to create buildings and environments in dialogue with culture and place.</p>
    </div>
  </div>

  <!-- Projects -->
  <div class="bg-white text-dark">
    <div class="container-fluid py-2">
      <ul class="row list-unstyled gx-0 mt-n6 px-xl-4">
        <li class="col-sm-6 col-xl-4 mb-4">
          <figure class="img-scale">
            <div class="img-wrap mb-3">
              <img src="assets/img/villa-pool.jpg" width="800" height="800" alt="White and grey concrete building near swimming pool" class="img-fluid">
            </div>
            <figcaption class="h5 fw-normal">
              <a href="project-1.html" class="stretched-link">Mediterranean Villa</a>
            </figcaption>
          </figure>
        </li>
        <li class="col-sm-6 col-xl-4 mb-4">
          <figure class="img-scale">
            <div class="img-wrap mb-3">
              <img src="assets/img/modern-building.jpg" width="800" height="800" alt="Windowpanes at the building" class="img-fluid">
            </div>
            <figcaption class="h5 fw-normal">
              <a href="project-1.html" class="stretched-link">Modern Building</a>
            </figcaption>
          </figure>
        </li>
        <li class="col-sm-6 col-xl-4 mb-4">
          <figure class="img-scale">
            <div class="img-wrap mb-3">
              <img src="assets/img/red-house.jpg" width="800" height="800" alt="Red wooden house near sea" class="img-fluid">
            </div>
            <figcaption class="h5 fw-normal">
              <a href="project-1.html" class="stretched-link">Wooden House</a>
            </figcaption>
          </figure>
        </li>
        <li class="col-sm-6 col-xl-4 mb-4">
          <figure class="img-scale">
            <div class="img-wrap mb-3">
              <img src="assets/img/modern-house.jpg" width="800" height="800" alt="High-rise buildings" class="img-fluid">
            </div>
            <figcaption class="h5 fw-normal">
              <a href="project-1.html" class="stretched-link">Modern House</a>
            </figcaption>
          </figure>
        </li>
        <li class="col-sm-6 col-xl-4 mb-4">
          <figure class="img-scale">
            <div class="img-wrap mb-3">
              <img src="assets/img/white-house.jpg" width="800" height="800" alt="White concrete house near green tree" class="img-fluid">
            </div>
            <figcaption class="h5 fw-normal">
              <a href="project-1.html" class="stretched-link">White House</a>
            </figcaption>
          </figure>
        </li>
        <li class="col-sm-6 col-xl-4 mb-4">
          <figure class="img-scale">
            <div class="img-wrap mb-3">
              <img src="assets/img/art-center.jpg" width="800" height="800" alt="White modern building" class="img-fluid">
            </div>
            <figcaption class="h5 fw-normal">
              <a href="project-1.html" class="stretched-link">Art Center</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>

    <div class="border border-3 border-light mx-auto mt-4 w-25"></div>

    <!-- Icon blocks -->
    <div class="container">
      <div class="row gy-5 py-5 py-md-6">
        <div class="col-md-4">
          <i class="material-icons icon-2x mb-3" aria-hidden="true">border_color</i>
          <h2 class="h4 fw-normal">Design</h2>
          <p class="mb-md-0 text-muted">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
        </div>
        <div class="col-md-4">
          <i class="material-icons icon-2x mb-3" aria-hidden="true">format_paint</i>
          <h2 class="h4 fw-normal">Refurbishments</h2>
          <p class="mb-md-0 text-muted">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
        </div><div class="col-md-4">
          <i class="material-icons icon-2x mb-3" aria-hidden="true">check_circle_outline</i>
          <h2 class="h4 fw-normal">Green certification</h2>
          <p class="mb-md-0 text-muted">Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to action -->
  <div class="bg-primary text-dark text-center">
    <div class="container py-5 py-md-6">
      <h2>We help you to design your perfect house</h2>
      <p class="lead mb-4">Excepteur sint occaecat cupidatat non proident sunt laborum</p>
      <a href="contact.html" class="btn btn-outline-dark">Contact Us</a>
    </div>
  </div>
