---
layout: base
title: Interior Design
description: Focus is a clean portfolio theme for Bootstrap.
navbarColor: light
permalink: /portfolio-2.html
---
  <!-- Header -->
  <div class="bg-light">
    <div class="container text-center py-5 py-md-6">
      <h1 class="display-3 text-black mb-4">Interior Design</h1>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <p class="lead text-dark mb-0">Create a beautiful, carefully curated online portfolio to showcase your work.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Projects -->
  <div class="bg-white text-dark">
    <div class="container pt-5 pt-md-6 pb-4 pb-md-5">
      <div class="row g-xl-5">
        <div class="col-md-6">
          <figure class="img-rising position-relative mb-5">
            <img src="assets/img/club-workspace.jpg"  alt="Black floor lamp on living room sofa" class="img-fluid mb-3" width="800" height="533">
            <figcaption class="h5 fw-normal">
              <a href="project-2.html" class="stretched-link">Club Workspace</a>
              <div class="small text-muted">Scandinavian</div>
            </figcaption>
          </figure>
          <figure class="img-rising position-relative mb-5">
            <img src="assets/img/sofa-cat.jpg" alt="Brown and white wooden table beside sofa" class="img-fluid mb-3" width="800" height="533">
            <figcaption class="h5 fw-normal">
              <a href="project-2.html" class="stretched-link">Living Room</a>
              <div class="small text-muted">Modern</div>
            </figcaption>
          </figure>
          <figure class="img-rising position-relative mb-5">
            <img src="assets/img/mens-closet.jpg" alt="Spacious mens closet with two beige chairs" class="img-fluid mb-3" width="800" height="1200">
            <figcaption class="h5 fw-normal">
              <a href="project-2.html" class="stretched-link">Mens Closet</a>
              <div class="small text-muted">Modern</div>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-6">
          <figure class="img-rising position-relative mb-5">
            <img src="assets/img/white-corner.jpg" alt="White steel chair in front round table" class="img-fluid mb-3" width="800" height="1200">
            <figcaption class="h5 fw-normal">
              <a href="project-2.html" class="stretched-link">White Corner</a>
              <div class="small text-muted">Minimalist</div>
            </figcaption>
          </figure>
          <figure class="img-rising position-relative mb-5">
            <img src="assets/img/modern-kitchen.jpg" alt="Gray steel 3-door refrigerator near modular kitchen" class="img-fluid mb-3" width="800" height="531">
            <figcaption class="h5 fw-normal">
              <a href="project-2.html" class="stretched-link">Modular Kitchen</a>
              <div class="small text-muted">Modern</div>
            </figcaption>
          </figure>
          <figure class="img-rising position-relative mb-5">
            <img src="assets/img/modern-room.jpg" alt="Room with black table lamp on nightstand" class="img-fluid mb-3" width="800" height="533">
            <figcaption class="h5 fw-normal">
              <a href="project-2.html" class="stretched-link">Clean room</a>
              <div class="small text-muted">Modern</div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to action -->
  <div class="bg-primary text-dark text-center">
    <div class="container py-5 py-md-6">
      <h2>Newsletter subscription</h2>
      <p class="lead mb-4">Subscribe to our newsletter to receive news & updates</p>
      <form>
        <div class="row justify-content-center align-items-center g-2">
          <div class="col-md-4 col-xl-3">
            <label for="name" class="visually-hidden">First name</label>
            <input type="text" class="form-control border-0 fst-italic" id="name" placeholder="First name">
          </div>
          <div class="col-md-4 col-xl-3">
            <label for="email" class="visually-hidden">Email address</label>
            <input type="email" class="form-control border-0 fst-italic" id="email" placeholder="Email address">
          </div>
          <div class="col-md-auto">
            <button type="submit" class="btn btn-dark w-100">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
