---
layout: base
title: Autumn
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /project-3.html
---
  <!-- Header -->
  <div class="container py-5 py-md-6">
    <h1 class="display-4">Autumn</h1>
    <div class="border border-3 border-light mb-5 w-15"></div>
    <img src="assets/img/autumn-landscape.jpg" class="img-fluid mb-5" alt="Yellow and green leafed trees" width="1280" height="850">

    <div class="row justify-content-center mb-5">
      <div class="col-lg-9 col-xxl-8 text-center">
        <h2 class="mb-3">Fall in love with autumn</h2>
        <p class="text-light">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>

    <!-- Gallery -->
    <ul class="row list-unstyled g-1 g-md-2 g-xl-3 mb-5 mb-lg-6">
      <li class="col">
        <a href="assets/img/autumn-1.jpg" class="lightbox" data-group="autumn">
          <img src="assets/img/autumn-1-th.jpg" class="img-fluid" alt="White and brown house near a body of water during daytime" width="420" height="278">
        </a>
      </li>
      <li class="col">
        <a href="assets/img/autumn-2.jpg" class="lightbox" data-group="autumn">
          <img src="assets/img/autumn-2-th.jpg" class="img-fluid" alt="Brown-leafed tree near body of water" width="420" height="278">
        </a>
      </li>
      <li class="col">
        <a href="assets/img/autumn-3.jpg" class="lightbox" data-group="autumn">
          <img src="assets/img/autumn-3-th.jpg" class="img-fluid" alt="Boy wearing orange bubble jacket walking on dry fallen leaves on the ground" width="420" height="278">
        </a>
      </li>
    </ul>

    <div class="text-center">
      <a href="portfolio-3.html" class="btn btn-outline-light">View Portfolio</a>
    </div>
  </div>
