---
layout: base
title: White Corner
description: Focus is a clean portfolio theme for Bootstrap.
navbarColor: light
permalink: /project-2.html
---
  <!-- Header -->
  <div class="bg-light text-black text-sm-center">
    <div class="container py-5 pt-lg-6">
      <h1 class="display-4 mb-4">White corner</h1>
      <dl class="row justify-content-center mb-5">
        <div class="col-sm-3">
          <dt class="fw-light text-muted">Client</dt>
          <dd>Name</dd>
        </div>
        <div class="col-sm-3">
          <dt class="fw-light text-muted">Year</dt>
          <dd>2020</dd>
        </div>
        <div class="col-sm-3">
          <dt class="fw-light text-muted">Location</dt>
          <dd>Somewhere</dd>
        </div>
      </dl>
    </div>
  </div>

  <!-- Project -->
  <div class="bg-white text-dark">
    <div class="container pt-2 pb-5 pb-md-6">
      <img src="assets/img/white-corner-1.jpg" width="1280" height="853" class="img-fluid mt-n6 mb-5" alt="Wooden desk and chair near the window.">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xxl-9">
          <h2>The beauty of simplicity</h2>
          <p class="lead mb-4">Duis aute irure dolor in reprehenderit in voluptate velit esse <a href="#">cillum</a> dolore eu fugiat nulla pariatur.</p>
          <img src="assets/img/white-corner-2.jpg" class="img-fluid mb-4" alt="A white wooden table near a brown chair." width="1280" height="800">
          <img src="assets/img/white-corner-3.jpg" class="img-fluid" alt="Clean and white bedroom with a lamp and some plants." width="1280" height="800">

          <!-- Features -->
          <div class="row text-center gy-5 py-5">
            <div class="col-md-4">
              <i class="material-icons icon-3x text-primary mb-3" aria-hidden="true">crop_5_4</i>
              <h3 class="fw-normal mb-3">Simple</h3>
              <p class="mb-0">Duis aute irure dolor in reprehenderit.</p>
            </div>
            <div class="col-md-4">
              <i class="material-icons icon-3x text-primary mb-3" aria-hidden="true">nature</i>
              <h3 class="fw-normal mb-3">Wood</h3>
              <p class="mb-0">Ut enim ad minim veniam quis nostrud</p>
            </div>
            <div class="col-md-4">
              <i class="material-icons icon-3x text-primary mb-3" aria-hidden="true">invert_colors</i>
              <h3 class="fw-normal mb-3">Light</h3>
              <p class="mb-0">Duis aute irure dolor in reprehenderit.</p>
            </div>
          </div>
          <div class="text-center">
            <a href="portfolio-2.html" class="btn btn-outline-dark">View all projects</a>
          </div>
        </div>
      </div>
    </div>
  </div>
