---
layout: base
title: Architecture Website
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /project-4.html
---
  <!-- Header -->
  <div class="container py-5 py-md-6">
    <h1 class="display-5 mb-5">Architecture Website</h1>
    <img src="assets/img/architecture-1.jpg" class="img-thumbnail mb-4" alt="Architecture website" width="1300" height="730">
    <dl class="row text-md-center mb-5">
      <div class="col-md-3">
        <dt class="fw-light text-light">Client</dt>
        <dd>Acme</dd>
      </div>
      <div class="col-md-3">
        <dt class="fw-light text-light">Year</dt>
        <dd>2021</dd>
      </div>
      <div class="col-md-3">
        <dt class="fw-light text-light">Service</dt>
        <dd>Web Design</dd>
      </div>
      <div class="col-md-3">
        <dt class="fw-light text-light">Website</dt>
        <dd><a href="#">example.com</a></dd>
      </div>
    </dl>

    <!-- Project -->
    <div class="col-lg-9 col-xxl-7 mb-5">
      <h2>The project</h2>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse <a href="#">cillum</a> dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <!-- Gallery -->
    <ul class="row list-unstyled g-2 g-md-4 mb-5 mb-md-6">
      <li class="col-6">
        <a href="assets/img/architecture-1.jpg" class="lightbox" data-group="project">
          <img src="assets/img/architecture-1-th.jpg" class="d-inline-block img-thumbnail" alt="Home page 1" width="640" height="400">
        </a>
      </li>
      <li class="col-6">
        <a href="assets/img/architecture-3.jpg" class="lightbox" data-group="project">
          <img src="assets/img/architecture-3-th.jpg" class="d-inline-block img-thumbnail" alt="Home page 2" width="640" height="400">
        </a>
      </li>
      <li class="col-6">
        <a href="assets/img/architecture-2.jpg" class="lightbox" data-group="project">
          <img src="assets/img/architecture-2-th.jpg" class="d-inline-block img-thumbnail" alt="Project page 1" width="640" height="400">
        </a>
      </li>
      <li class="col-6">
        <a href="assets/img/architecture-4.jpg" class="lightbox" data-group="project">
          <img src="assets/img/architecture-4-th.jpg" class="d-inline-block img-thumbnail" alt="Project page 2" width="640" height="400">
        </a>
      </li>
    </ul>
    <div class="text-center">
      <a href="portfolio-4.html" class="btn btn-outline-light">View all projects</a>
    </div>
  </div>
