---
layout: base
title: Success
description: Inspired by Nature
permalink: /success.html
---
  <!-- Header -->
<div class="bg-image" style="background-image: url(assets/img/forgetmenot-2.JPG); height: 52vh;">
  <div class="container py-5 py-md-6">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="display-3">Message Sent</h1>
        <div class="border border-2 border-light w-15 my-4"></div>
        <p class="lead text-light mb-4">Thank you! You will be hearing from us very soon.</p>
      </div>
    </div>
  </div>
</div>



